.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.upForm {
  display: flex;
  gap: 14px;
}
.downForm {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-top: 25px;
}

.downForm button {
  min-width: 366px;
}

.upForm button {
  width: 100%;
}

.upForm input {
  width: 240px;
}

.downForm input {
  width: 240px;
}

.smallElement {
  position: absolute;
  z-index: 9;
  background-color: #FFFFFF;
}

.add {
  top: -67px;
  left: 13px;
}

.delete {
  top: 92px;
  left: 13px;
}

.elements {
  margin: 130px auto 0;
  max-width: 500px;
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
