.form {
    margin: 0 auto;
    max-width: 522px;
    width: 100%;
    display: flex;
    gap: 12px;
}

.elements {
    width: 944px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 48px;
    justify-content: center;
}
